{% extends 'partials/baseuser.html' %}
{% block title %} Profile Page {% endblock %}

{% block content %}

<section style=" background-color:  #dbebf4; ;">
  <div class="container p-5 ">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 ">
          <div class="card-body text-center">
            <img src="{{user.profile.image.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-5 fw-bold">@ {{user.username }}</h5>
            <p class="text-muted mb-1">{{user.email }}</p>
            <p class="text-muted mb-4">{{user.profile.address }}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'user-profile-update' %}" class="btn btn-primary" data-mdb-button-init data-mdb-ripple-init>Edit Profile</a>
              <a href="{% url 'delete-account' %}" class="btn btn-outline-danger ms-3" data-mdb-button-init data-mdb-ripple-init>Delete Your Account</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="h3 text-center fw-bold text-primary">Profile Information</h2>
            <hr class="my-3">
            <div class="row mt-3">
              <div class="col-sm-3">
                <p class="mb-1 fw-bold">Username</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-1">@{{user.username }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1 fw-bold">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-1">{{user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1 fw-bold">Phone Number</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-1">{{user.profile.phone_number}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-1 fw-bold">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-1">{{user.profile.address }}</p>
              </div>
            </div>
          </div>
       
        </div>


      </div>
      <h1 class="mt-5 ">
          
      </h1>
    </div>
  </div>
</section>

<!-- add footer -->


<footer>
  {% include 'partials/footer.html' %}
</footer>




{% endblock %}